{% extends 'base.html.twig' %}

{% block title %} Taxo Park Show {{ user.username }}{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>First and Last name</th>
            <th>Last Activity</th>
            <th>Work in System</th>
            <th>Gender</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstname }} - {{ user.lastname }}</td>
            <td>{{ user.lastLogin|date('Y-m-d') }}</td>
            <td>{{ user.createdAt|date('Y-m-d') }}</td>
            <td>{{ user.gender }}</td>
        </tr>
        </tbody>

    </table>

{% endblock %}
