{% extends 'base.html.twig' %}

{% block title %} Broker GMA {% endblock %}

{% block body %}
    {% block stylesheets %}
        <!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugin/themefisher-font/style.css') }}">
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugin/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Animate.css -->
        <link rel="stylesheet" href="{{ asset('assets/css/plugin/animate-css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/magnific-popup/dist/magnific-popup.css') }}">
        <link href="{{ asset('assets/css/style_meghna.css') }}" rel="stylesheet">
    {% endblock %}

{#<img  width="100%" height="100%" alt="img" src="{{ asset('assets/img/job.jpg') }}">#}

        <!--
      Start Preloader
      ==================================== -->
        <div class="preloader">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <!-- End Preloader
            ==================================== -->

        <section class="hero-area overlay" style="background-image: url('{{ asset('assets/img/meghna/banner/main_bg.jpeg') }}');">
            <div class="block">
                <h1>Broker GMA</h1>
                <p>Сервис для поиска коммерческой недвижимости без комиссии.</p>
                <a data-scroll href="{{ path('address_list') }}" class="btn btn-transparent">Найти недвижимость</a>
            </div>
        </section>
        <section id="services" class="bg-one about section">
            <div class="container">
                <div class="row">

                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                        <h2> <span class="color">Предложения</span></h2>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->

                    <!-- About item -->
                    <div class="col-md-6 text-center wow fadeInUp" data-wow-duration="500ms">
                        <div class="block">
                            <a href="/address_list">
                            <div class="icon-box">
                                <i class="tf-ion-android-home"></i>
                            </div>
                            </a>
                            <!-- Express About Yourself -->
                            <div class="content text-center">
                                <h3 class="ddd">АРЕНДОВАТЬ КОМЕРЧЕСКУЮ НЕДВИЖИМОСТЬ </h3>
                                <p>Чтобы перейти на страницу поиска объектов жмите сюда</p>
                            </div>
                        </div>
                    </div>
                    <!-- End About item -->

                    <!-- About item -->
                    <div class="col-md-6 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                        <div class="block">
                            <a href="/orders_list">
                            <div class="icon-box">
                                <i class="tf-ion-social-usd-outline"></i>
                            </div>
                            </a>
                            <!-- Express About Yourself -->
                            <div class="content text-center">
                                <h3>КУПИТЬ КОММЕРЧЕСКУЮ НЕДВИЖИМОСТЬ     </h3>
                                <p>Чтобы перейти на страницу поиска объектов жмите сюда</p>
                            </div>
                        </div>
                    </div>
                    <!-- End About item -->

                </div>        <!-- End row -->
            </div>    <!-- End container -->
        </section>   <!-- End section -->
        <section class="section about-2 padding-0 bg-dark" id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 padding-0 ">
                        <img class="img-responsive" src="{{ asset('assets/img/meghna/about/about-business.jpg') }}" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="content-block">
                            <h2>Broker GMA - сервис продажи, покупки и аренды коммерческой недвижимости.
                            </h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <i class="tf-toolbox"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Предоставляет агентские услуги
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <i class="tf-compass"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Делает анализ рынка </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <i class="tf-puzzle"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Находит подходящий объект
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <i class="tf-layers"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Отстаивает Ваши интересы
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <i class="tf-notebook9"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Обеспечивает юридическую безопасность сделки</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="team-skills" class="parallax-section section section-bg overly">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12">
                        <div class="title text-center">
                            <h4>Мы ориентированы на комиссионное вознаграждение от собственников недвижимости, арендаторов консультируем бесплатно.</h4>
                        </div>
                    </div>
                    <!-- /section title -->
                </div>        <!-- End row -->
            </div>    <!-- End container -->
        </section>   <!-- End section -->
        <section class="portfolio section" id="portfolio">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="title text-center">
                            <h2>Коммерческая <span class="color">недвижимость</span></h2>
                            <div class="border"></div>
                        </div>
                        <!-- /section title -->
                    </div> <!-- /end col-lg-12 -->
                </div> <!-- end row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portfolio-filter">
                            <button class="active" type="button" data-filter="all">Все</button>
                            <button type="button" data-filter="design">В Бизнес Центрах</button>
                            <button type="button" data-filter="photography">В многофункциональных комплексах</button>
                        </div>
                    </div>
                </div>
                <div class="row filtr-container">
                    <div class="filtr-item col-md-4" data-category="design">
                            <div class="caption">
                                <a class="search-icon image-popup" data-effect="mfp-with-zoom"
                                   href="{{ asset('assets/img/meghna/portfolio/portfolio-new-1.jpeg') }}"
                                   data-lightbox="image-1">
                                    <img class="img-responsive" src="{{ asset('assets/img/meghna/portfolio/portfolio-new-1.jpeg') }}" alt="">
                                </a>
                            </div>
                    </div>
                    <div class="filtr-item col-md-4" data-category="design">
                            <div class="caption">
                                <a class="search-icon image-popup" data-effect="mfp-with-zoom"
                                   href="{{ asset('assets/img/meghna/portfolio/portfolio-new-2.jpeg') }}"
                                   data-lightbox="image-1">
                                    <img class="img-responsive" src="{{ asset('assets/img/meghna/portfolio/portfolio-new-2.jpeg') }}" alt="">
                                </a>
                            </div>

                    </div>
                    <div class="filtr-item col-md-4" data-category="photography">
                            <div class="caption">
                                <a class="search-icon image-popup" data-effect="mfp-with-zoom"
                                   href="{{ asset('assets/img/meghna/portfolio/portfolio-new-5.jpeg') }}"
                                   data-lightbox="image-1">
                                    <img class="img-responsive" src="{{ asset('assets/img/meghna/portfolio/portfolio-new-5.jpeg') }}" alt="">
                                </a>
                            </div>
                    </div>
                    <div class="filtr-item col-md-4" data-category="design">
                            <div class="caption">
                                <a class="search-icon image-popup" data-effect="mfp-with-zoom"
                                   href="{{ asset('assets/img/meghna/portfolio/portfolio-new-3.jpeg') }}"
                                   data-lightbox="image-1">
                                    <img class="img-responsive" src="{{ asset('assets/img/meghna/portfolio/portfolio-new-3.jpeg') }}" alt="">
                                </a>
                            </div>
                    </div>
                    <div class="filtr-item col-md-4" data-category="design">
                            <div class="caption">
                                <a class="search-icon image-popup" data-effect="mfp-with-zoom"
                                   href="{{ asset('assets/img/meghna/portfolio/portfolio-new-4.jpeg') }}"
                                   data-lightbox="image-1">
                                    <img class="img-responsive" src="{{ asset('assets/img/meghna/portfolio/portfolio-new-4.jpeg') }}" alt="">
                                </a>
                            </div>
                    </div>
                    <div class="filtr-item col-md-4" data-category="photography">
                            <div class="caption">
                                <a class="search-icon image-popup" data-effect="mfp-with-zoom"
                                   href="{{ asset('assets/img/meghna/portfolio/portfolio-new-6.jpeg') }}"
                                   data-lightbox="image-1">
                                    <img class="img-responsive" src="{{ asset('assets/img/meghna/portfolio/portfolio-new-6.jpeg') }}" alt="">
                                </a>
                            </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section> <!-- End section -->
        <section id="testimonial" class="testimonial overly section bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- testimonial wrapper -->
                        <div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

                            <!-- testimonial single -->
                            <div class="item text-center">

                                <!-- client photo -->
                                <div class="client-thumb">
                                    <img src="{{ asset('assets/img/meghna/team/client-4.jpg') }}" class="img-responsive" alt="Meghna">
                                </div>
                                <!-- /client photo -->

                                <!-- client info -->
                                <div class="client-info">
                                    <div class="client-meta">
                                        <h3>Александр Маринченко</h3>
                                    </div>
                                    <div class="client-comment">
                                        <p>Сервис Broker GMA разработан для удобного поиска коммерческой недвижимости и решения сложных задач.</p>
                                    </div>
                                </div>
                                <!-- /client info -->
                            </div>
                            <!-- /testimonial single -->

                        </div>        <!-- end testimonial wrapper -->
                    </div>        <!-- end col lg 12 -->
                </div>        <!-- End row -->
            </div>       <!-- End container -->
        </section>    <!-- End Section -->
        <section id="contact-us" class="contact-us section-bg">
            <div class="container">
                <div class="row">

                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                        <h3>Связаться <span class="color"> с нами</span></h3>
                        <div class="border"></div>
                    </div>
                    <!-- /section title -->

                    <!-- Contact Details -->
                    <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                        <h3>Контактная информация</h3>
                        <p>Оставьте заявку на поиск недвижимости без комиссии и брокер свяжется с Вами. </p>
                        <div class="contact-details">

                            <div class="con-info clearfix">
                                <i class="tf-ion-ios-telephone-outline"></i>
                                <span>Phone: +380 67 842 46 43</span>
                            </div>

                            <div class="con-info clearfix">
                                <i class="tf-ion-ios-email-outline"></i>
                                <span>Email: am@brokergma.com</span>
                            </div>
                        </div>
                    </div>
                    <!-- / End Contact Details -->

                    <!-- Contact Form -->
                    <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            {{ form_start(form, {'attr': {'id': 'contact-form'}}) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.message) }}
                            </div>
                            {{ form_end(form) }}

                            <div id="mail-success" class="success">
                                Thank you. The Mailman is on His Way :)
                            </div>

                            <div id="mail-fail" class="error">
                                Sorry, don't know what happened. Try later :(
                            </div>

                        </form>
                    </div>
                    <!-- ./End Contact Form -->

                </div> <!-- end row -->
            </div> <!-- end container -->

        </section> <!-- end section -->

    {% block javascripts %}
        <script src="{{ asset('assets/js/old/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('assets/js/old/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/slick-carousel/slick/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins//filterzr/jquery.filterizr.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/smooth-scroll/dist/js/smooth-scroll.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/Sticky/jquery.sticky.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/wow/dist/wow.min.js') }}"></script>
        <script src="{{ asset('assets/js/script.js') }}"></script>
    {% endblock %}
{% endblock %}
