{% extends 'base.html.twig' %}

{% block title %} Taxo Park Home {% endblock %}

{% block body %}

    <h2 class="genus-name">Cars List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Car</th>
            <th>Car type</th>
            <th>Car Description</th>
        </tr>
        </thead>

        <tbody>
        {% for car in cars %}
            <tr>
                <td>
                    <a href="{{ path('car_show',{'carName': car.carName}) }}">{{ car.carName }}</a>
                </td>
                <td>{{ car.CarType }}</td>
                <td>{{ car.CarDiscript }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <br/>
    <div class="pagination text-center">
        {{ knp_pagination_render(cars) }}
    </div>

{% endblock %}
